
<div class="comments">
  <section class="comment">
    <div class="text">
      {{this.comment_body}}
    </div>
    <div class="meta">
      {{this.user.name}} on {{format_date this.comment_date}}
    </div>
  </section>
</div>
