<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>
<body>
  <header>
    <h1>Tech Blog</h1>
    <nav>
      {{#if logged_in}}
      <div>
        <a href="/"><button>home</button></a> | <a href="/dashboard"><button>dashboard</button></a> | <button id="logout">logout</button>
      </div>
      {{else}}
      <div>
        <a href="/login"><button>login</button></a><span> or </span><a href="/signup"><button>signup</button></a>
      </div>
      {{/if}}
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>

  </footer>
  {{#if logged_in}}
  <script src="../../../js/logout.js"></script>
  {{/if}}
</body>
</html>