
<h3>Edit Post</h3>

<form id="edit-post-form">
  <label for="post-title">title:</label>
  <textarea class="form-input" id="post-title" name="post-title">{{post.title}}</textarea>
  <label for="post-body">do go on:</label>
  <textarea class="form-input" id="post-body" name="post-body">{{post.post_body}}</textarea>
  <button type="submit">save</button>
</form>

<script src="../../../js/edit.js"></script>
